<!DOCTYPE html>
<html>
  <head>
    <title><%= parentCategory.page_title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <head>
      <% include partials/header.ejs %>
    </head>
    <main>
        <h1><%= parentCategory.name %></h1>
        <p><%= parentCategory.page_description %></p>
        <% categories.forEach((category, key) => {%>
            <h4><%= category.name %></h4>
            <% if(existsSync(`public/images/${category.image}`)) { %>
                <img src="/images/<%= category.image %>" class="img-fluid" alt="<%= category.id %>">
            <% } %>
            <p><%= category.page_description %></p>
            <a class="btn btn-primary" href="/category<%= categorypath %>/<%= category.id %>" role="button">View Category</a>
        <% }); %>
    </main>  
  </body>
  <% include partials/footer.ejs %>
</html>
