<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/javascript/productCart.js"></script>
  </head>
  <body>

    <% include partials/header.ejs %>
    <main>
      <div class="container-fluid mt-5 mb-5">
        <% if(products.length === 0){ %>
          <p class="blockquote text-center">No products found...</p>
        <% }else{ %>
          <div class="d-flex justify-content-between row">
            <% products.forEach((product, key) => {%>
              <div class="row p-2 bg-white border rounded mt-2" style="width: 50%;">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/images/<%= product.image_groups.find(el => el.view_type === 'medium').images[0].link %>" alt="<%= product.image_groups.find(el => el.view_type === 'medium').images[0].alt %>"></div>
                <div class="col-md-9 mt-1">
                  <h5><%= product.name %></h5>
                  <div class="d-flex flex-row">
                    <p class="text-justify mb-5"><%= product.page_description %></p>
                    
                    <div class="align-items-center align-content-center col-md-5 border-left mt-1">
                      <div class="d-flex flex-column">
                        <a class="btn btn-primary" href="/product/<%= product.id %>" role="button">Details</a>
                        <% if( typeof locals.loggedUser !== 'undefined') { %>
                          <a class="btn btn-outline-warning mt-1 btn-add-wishlist" data-product_id=<%= product.id || '' %> data-product_variant_id=<%= (typeof product.variants[0] !== "undefined")? product.variants[0].product_id : '' %> data-product_quantity="1" role="button">Add to wishlist</a>
                          <a class="btn btn-success mt-1 btn-add-cart" data-product_id=<%= product.id %> data-product_variant_id=<%= (typeof product.variants[0] !== "undefined")? product.variants[0].product_id : '' %> data-product_quantity="1" href="#" role="button">Add to cart</a>
                        <% } %>
                        
                      </div>
                    </div>
                  </div>
                  <h6 class="mr-1"><%= product.currency %> <%= product. price %></h6>
                </div>
              </div>
            <% }); %>
          </div>
        <% } %>
      </div>
    </main>
  </body>
  <% include partials/footer.ejs %>
</html>
